<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="aboutDialogConfigurationSection" type="Sharpen.AboutDialogConfigurationSection, AboutDialog" />
  </configSections>
  <aboutDialogConfigurationSection
    gitHubAuthToken="7d42df1dd95aa9368b75fcb7883b11f428d27ca3"
    gitHubLogin="sharpenrocks"
    gitHubRepository="Sharpen"
    vSMarketplaceId="ironcev.Sharpen" />
</configuration>